<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>LOGIN</h1>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
          </div>
          <br>
          <button class="btn btn-primary" type="submit">LOGIN</button></br>

    </body>
</html>